apiVersion: apps/v1
kind: Deployment
metadata:
  name: dispatcharr
spec:
  selector:
    matchLabels:
      app: dispatcharr
  template:
    metadata:
      labels:
        app: dispatcharr
      annotations:
        backup.velero.io/backup-volumes: data
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: extensions.talos.dev/i915
                operator: Exists
      nodeSelector:
        kubernetes.io/hostname: weyma-talos-testw04
      containers:
      - name: dispatcharr
        image: ghcr.io/dispatcharr/dispatcharr:0.8.0-amd64
        env:
          - name: DISPATCHARR_ENV
            value: aio
          - name: REDIS_HOST
            value: localhost
          - name: CELERY_BROKER_URL
            value: redis://localhost:6379/0
          - name: DISPATCHARR_LOG_LEVEL
            value: info
          - name: UWSGI_NICE_LEVEL
            value: "-5"
          - name: CELERY_NICE_LEVEL
            value: "-5"
        volumeMounts:
          - name: dispatcharr-data
            mountPath: /data
          - name: dev-dri
            mountPath: /dev/dri
        resources:
          limits:
            memory: "3Gi"
            cpu: "1"
          requests:
            memory: "256Mi"
            cpu: "500m"
        securityContext:
          privileged: true
      volumes:
        - name: dispatcharr-data
          persistentVolumeClaim:
            claimName: dispatcharr
        - name: dev-dri
          hostPath:
            path: /dev/dri
