externalSecretsManaged: true
externalSecrets:
  targetSecretName: wekan-secrets
  secrets:
    - keyName: wekan
      secretKeyName: OAUTH2_CLIENT_ID
      property: client_id
    - keyName: wekan
      secretKeyName: OAUTH2_SECRET
      property: secret
  secretStore:
    kind: ClusterSecretStore
    name: weyma-vault
configMapsManaged: true
configMapEnv:
  - name: OAUTH2_ENABLED
    value: "true"
  - name: OAUTH2_LOGIN_STYLE
    value: redirect
  - name: OAUTH2_SERVER_URL
    value: https://auth.dubyatp.xyz
  - name: OAUTH2_AUTH_ENDPOINT
    value: /application/o/authorize/
  - name: OAUTH2_USERINFO_ENDPOINT
    value: /application/o/userinfo/
  - name: OAUTH2_TOKEN_ENDPOINT
    value: /application/o/token/
  - name: OAUTH2_ID_MAP
    value: sub
  - name: OAUTH2_USERNAME_MAP
    value: email
  - name: OAUTH2_FULLNAME_MAP
    value: given_name
  - name: OAUTH2_EMAIL_MAP
    value: email
wekan:
  endpoint: wekan.dubyatp.xyz
  root_url: https://wekan.dubyatp.xyz
  secretManaged: false
  podAnnotations:
    backup.velero.io/backup-volumes: shared-data-volume
  sharedDataFolder:
    accessMode: ReadWriteMany
  extraEnvFrom: |
    - configMapRef:
        name: wekan-config
    - secretRef:
        name: wekan-secrets
  ingress:
    enabled: true
    path: /
    pathtype: ImplementationSpecific
    hosts:
      - wekan.dubyatp.xyz
    tls:
      - secretName: cert-dubyatp-xyz
        hosts:
          - wekan.dubyatp.xyz
  mongodb:
    updateStrategy:
      type: Recreate
    podAnnotations:
      backup.velero.io/backup-volumes: datadir